* {
    /* background-color: wheat; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    background-color: #000000c1;

}

header ul {
    padding: 0% 20%;

    display: flex;
    justify-content: space-between;

    list-style-type: none;
}


header ul li a {
    color: white;
}

header ul li {
    display: block;
    padding: 15px 0px;
    color: white;

    font-size: 12px;
}

.list {
    margin: 0% 15%;

    display: flex;
    justify-content: space-between;

    text-align: center;
}

.new {
    color: #BF4800;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.08px;
}

/* Hero Section starts here */

.hero {
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    margin: 5% 10%;
}

.hero p {
    color: #1D1D1F;
    text-align: center;
    /* font-size: 1rem; */
    font-style: normal;

    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

.new2 {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: -0.374px;


}

.forteen {
    font-size: 1.3rem;
    font-weight: 600;
}

.hero-headline {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;

    background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding-bottom: 3rem;
}

.buy-btn {
    /* display: flex; */
    width: 61.203px;
    height: 36px;
    padding: 8px 15.6px 8px 16px;
    border-style: none;

    color: white;
    border-radius: 980px;
    background: #0071E3;
}

.learn-more {
    color: #06C;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    line-height: 29.001px;
    letter-spacing: 0.231px;
}